<footer class="width-container">
    <nav id="footerNav">
        <ul>
            <li><a href="/code-of-conduct">Code of conduct</a></li>
            <li><a href="/privacy-policy">Privacy policy</a></li>
            <li><a href="/feed.xml">Feed</a></li>
            <li><a href="mailto:organisers@ukgovcamp.com">Contact us</a></li>
            <li>
                <a href="https://github.com/UKGovCamp/www.ukgovcamp.com"
                    >GitHub</a
                >
            </li>
        </ul>
    </nav>
    <p>
        Copyright 2025 UK Gov Camp, all content is licensed under <a
            href="https://creativecommons.org/licenses/by-sa/4.0"
            >CC BY-SA 4.0</a
        >. Source code is licensed under <a
            href="https://github.com/UKGovCamp/www.ukgovcamp.com/blob/main/LICENSE"
            >MIT</a
        >.
    </p>
</footer>
