<nav id="navMenu">
    <ul>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/news">News</a>
        </li>
        <li>
            <a href="/sponsors">Sponsors</a>
        </li>
        <li>
            <a href="/grants">Grants</a>
        </li>
        <li>
            <a href="/agenda">Agenda</a>
        </li>
        <li>
            <a href="/faq">FAQs</a>
        </li>
    </ul>
</nav>
