:root {
  --fg-color: rgb(13 13 13);
  --bg-color: rgb(255 255 255);

  --header-fg-color: rgb(13 13 13);
  --header-bg-color: rgb(255 255 255);

  --footer-fg-color: rgb(255 255 255);
  --footer-bg-color: rgb(52 52 44);
  --accent-fg-color: rgb(255 255 255);
  --accent-bg-color: rgb(61 80 160);

  --logo-fg-color: rgb(61 80 160);
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-size: 1.1875rem;
  font-family:
    "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 0;
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  min-height: 100vh;
}

@media only screen and (max-width: 641px) {
  .width-container {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 641px) {
  @supports (margin: max(calc(0px))) {
    .width-container {
      margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
    }
  }
}

@media (min-width: 1080px) {
  .width-container {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
  }
}

main {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}

header {
  padding: 20px 0;
  background-color: var(--header-bg-color);
  width: 100%;
}

header a:visited {
  color: var(--header-fg-color);
}

header a:link {
  color: var(--header-fg-color);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1875rem;
}

.logo {
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 700;
  display: inline-block;
  color: var(--accent-bg-color);
}

.logo {
  line-height: 40px;
  width: 50%;
  display: inline-block;
}

.logo a {
  text-decoration: none;
  color: var(--accent-bg-color);
}

.logo a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.logo a:visited {
  color: var(--logo-fg-color);
}

.logo a:link {
  color: var(--logo-fg-color);
}

#navMenu {
  display: inline-block;
  padding-top: 20px;
  margin: 0;
  width: 40%;
}

#navMenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#navMenu li {
  margin-bottom: 5px;
}

@media (min-width: 1080px) {
  #navMenu li {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 24%;
  }
}

#navMenu a {
  font-weight: 700;
  font-size: 100%;
  text-decoration: none;
}

#navMenu a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

#navMenu .navigation-active a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

#footerNav {
  display: inline-block;
  padding-top: 20px;
  margin: 0;
  width: 100%;
}

#footerNav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#footerNav li {
  margin-bottom: 5px;
}

@media (min-width: 1080px) {
  #footerNav li {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 15%;
  }
}

#footerNav a {
  font-size: 100%;
  text-decoration: none;
  color: var(--footer-fg-color);
}

#footerNav a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

#footerNav .navigation-active a {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.accent {
  color: var(--accent-fg-color);
  background-color: var(--accent-bg-color);
  box-shadow: 0 0 0 100vmax var(--accent-bg-color);
  clip-path: inset(0 -100vmax);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.treesforlife {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 78, 60);
  box-shadow: 0 0 0 100vmax rgb(57, 78, 60);
  clip-path: inset(0 -100vmax);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer {
  display: block;
  background-color: var(--footer-bg-color);
  color: var(--footer-fg-color);
  box-shadow: 0 0 0 100vmax var(--footer-bg-color);
  clip-path: inset(0 -100vmax);
}

footer a:visited {
  color: var(--footer-fg-color);
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 1080px) {
  .sponsor {
    flex: 0 0 calc(33.3% - 20px);
    margin: 10px;
  }
}

@media (max-width: 1080px) {
  .sponsor {
    flex: 0 0 100%;
    margin: 10px;
  }
}

.sponsor a {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor img {
  width: 100%;
  max-width: 300px;
  max-height: 200px;
}

.sponsor-title {
  display: table;
  margin: 0 auto;
}

:where([data-astro-image]) {
  object-fit: var(--fit);
  object-position: var(--pos);
}
:where([data-astro-image="full-width"]) {
  width: 100%;
}
:where([data-astro-image="constrained"]) {
  max-width: 100%;
}
